input {
  border-radius: 5px;
  padding-left: 10px;
  width: 254px;
}

.sideButton {
  width: 150px;
}

.fullButton {
  width: 416px;
}

.hr-container {
  margin-top: 2em;
  margin-bottom: 2em;
  width: 100%;
}

hr {
  margin: auto auto;
  width: 415px;
}
