<section id="pannellum" class="w-full pt-6">
  <h1 class="full-width text-center text-xl text-teal-600 m-auto">Upload to Pannellum</h1>
  <span class="text-white text-center m-3">
    <p class="pl-4 pb-3 text-start m-auto full-width">
      1: Copy the firebase storage link <br>
      2: Open Pannellum and paste the link in the "Panorama URL" <br>
      3: Generate the Pannellum URL and check the results <br>
      4: Copy the generated URL from Pannellum and exit the site <br>
      5: Paste the generated URL in the input field and submit <br>
    </p>
  </span>

  <div class="row w-fit m-auto">
    <input value="{{imageURL}}" class="col h-8">
    <app-tooltip [showTip]="showTip">
    <button (click)="copyLink()"
            class="col sideButton ml-3 w-fit bg-slate-600 text-white py-1.5 px-3 rounded transition
              hover:bg-slate-500 disabled:opacity-50 disabled:bg-slate-600">
      Copy Link
    </button>
    </app-tooltip>
  </div>

  <div class="w-full text-center mt-8">
    <a href="https://pannellum.org/documentation/overview/tutorial/"
       class="col fullButton text-white block m-auto w-72 bg-teal-800 text-white py-1.5 px-3 rounded transition
              hover:bg-teal-700 disabled:opacity-50 disabled:bg-teal-600"
       target="_blank">
      Open Pannellum For Upload
    </a>
  </div>

  <div class="hr-container">
    <hr>
  </div>

  <form #uploadForm="ngForm" (ngSubmit)="uploadNewLink()">
    <div class="row w-fit m-auto">
      <input #url="ngModel" type="text" name="url" [(ngModel)]="uploadURL"
             placeholder="Uploaded URL" class="col h-8" required>
      <button type="submit" [disabled]="uploadForm.invalid"
              class="col ml-3 sideButton text-white w-fit bg-teal-800 text-white py-1.5 px-3 rounded transition
              hover:bg-teal-700 disabled:opacity-50 disabled:bg-teal-600">
        Submit
      </button>
      <p *ngIf="error" class="text-red-400">{{ errorMessage }}</p>
    </div>
  </form>

</section>
